@page "/Compra"
<div class="container-md">
    <h1 class="text-center display-3">Compra Realizada</h1>
    <div class="row g-0 d-flex">
        <div class="col mt-3">
            <img class="img-thumbnail rounded float-start h-100" src="../img/compradora.jpg" />
        </div>
        <div class="col md-2 mt-3">
            <div class="d-flex card border-info h-100">
                <div class="card-header text-center fs-2"> Detalles de Envio</div>
            
            <ul class="list-group list-group-flush fs-3 ">
                
                    <li class="list-group-item mt-1">Nombre Completo: Rodrigo Rodriguez</li>
                    <li class="list-group-item mt-1">Direccion: Esta direccion #4412</li>
                    <li class="list-group-item mt-1">Ciudad: Monterrey</li>
                    <li class="list-group-item mt-1">Estado: Nuevo Leon</li>
                    <li class="list-group-item mt-1">CP: 61343</li>
                    <li class="list-group-item mt-1">Telefono: 81233040</li>
            </ul>
                <div class="card-footer text-center">
                <a class=" fs-2" href="#">Estatus del Envio</a><br/>
                <img class="w-25 mt-2" src="../img/Camion.png"/>
                
            </div>
            </div>
        </div>
        </div>

        <div class="d-grid gap-2 col-3 mx-auto mt-5">
            <button class="btn btn-primary btn-lg" type="button">Ir a Compras</button>
        </div>

    </div>
    