@page "/paypal-button"
@inject IJSRuntime JSRuntime

<div id="paypal-button-container"></div>

@code {
    [Parameter]
    public decimal TotalCompra { get; set; }

    // Variable para controlar cuando se puede inicializar el botón de PayPal
    private bool isPayPalReady = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(2000); // Ajusta el tiempo del retraso según sea necesario
            isPayPalReady = true;
            StateHasChanged();
            await JSRuntime.InvokeVoidAsync("initPayPalButton", TotalCompra);
        }
    }
}
